@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

    
body {
  margin: 0;
  font-family: 'Libre Baskerville';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  text-align: 'center';
  width: '65%';
  -webkit-border-radius: '25px';
  -moz-border-radius: '25px';
  border-radius: '25px';
}
